* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s ease forwards;
}

html, body {
    width: 100vw;
    overflow-x: auto;
    background-color: #6391db;
}

#container {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    background-color: #a1c4fd;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation: fadeIn 0.5s ease 0.2s 1 forwards;
}

#title {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

#input-container {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    width: 400px;
}

.input-box > * {
    font-size: 12px;
}

.input-box > select {
    text-align: left;
    width: 400px;
}

.input-box > input {
    padding: 7px 5px;
    border-radius: 3px;
    border: 1px solid #aaa;
    text-align: left;
}

.input-box > input:focus, .input-box > input:active {
    outline: none;
    border-color: #000;
}

.input-box > label {
    font-size: 12px;
    margin-bottom: 3px;
    text-align: left
}

#buttons {
    display: flex;
}

#add-btn, #undo-btn {
    background: #4BB543;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 30px;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    margin: 0 10px;
}

#undo-btn {
    background: #eea236;
}

#add-btn:focus, #add-btn:active, #undo-btn:focus, #undo-btn:active {
    outline: none;
    border: none;    
}

#add-btn:hover, #undo-btn:hover {
    outline: none;
    border: none;
    background: rgb(45, 121, 40);
}

#undo-btn:hover {
    background: #cc892c;
}

#timetable {
    opacity: 0;
    animation: fadeIn 0.5s ease 0.8s 1 forwards;
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

.cell {
    width: 120px;
    min-height: 40px;
    border: 1px solid rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-word;
    padding: 3px;
    font-size: 12px;
    flex-direction: column;
    cursor: pointer;
    position: relative
}

.cell:hover {
    opacity: 0.4;
}

.highlight {
    font-weight: bold;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;    
    }
}

#error {
    display: none;
    padding: 10px 15px;
    border-radius: 3px;
    background: rgb(12, 10, 10);
    color: #fff;
    font-weight: bold;
    position: fixed;
    left: 10px;
    bottom: 10px;
}

.floating {
    display: flex;
    background: #2c2c2c;
    color: #fff;
    padding: 5px 5px;
    font-size: 15px;
    border-radius: 5px;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.floating > img {
    max-height: 17px;
    margin-right: 5px;
}

#star {
    position: fixed;
    top: 20px;
    right: 30px;
}

#author {
    position: fixed;
    top: 55px;
    right: 30px;
}

#author1 {
    position: fixed;
    top: 90px;
    right: 30px;
}

#desktopView {
    display: none;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

@media all and (max-width: 1000px) {
    .cell {
        width: 100px;
        height: 80px;
    }
    .input-box {
        width: 400px;
    }
    .input-box > select {
        width: 400px;
    }
}

@media all and (max-width: 800px) {
    .cell {
        width: 80px;
        height: 70px;
    }
    .input-box {
        width: 400px;
    }
    .input-box > select {
        width: 400px;
    }
    #star, #author, #author1 {
        position: static;
        margin-top: 10px;
    }
    #star {
        margin-top: 20px;
    }
}

@media all and (max-width: 600px) {
    .cell {
        width: 40px;
        height: 30px;
        font-size: 8px;
    }
    .input-box {
        width: 300px;
    }
    .input-box > select {
        width: 300px;
    }
}